<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta content="" text="" charset="utf-8&quot;&quot;" http-equiv="Content-Type"></meta><style type="text/css">
	body {font-family: Arial}
	p.head {font-SIZE: 12pt}
	p.strtext{font-SIZE: 12pt}
</style></head><body>
<p class="strtext">В соответствии с Приказом ФНС РФ от 19.12.2023 N ЕД-7-26/970, в УПД строка 5а заполняется значением "тот же". Других значений в этой строке формат не предусматривает.</p>
<p class="strtext"><a href="alert:ОбработатьНажатие_ОткрытьСсылкуРазъясненияПоСтроке5аУПД970">Подробнее об изменениях</a></p>
</body></html>